#page-tag img.photo-to-tag {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  min-height: 250px;
  background-color: #f0f0f0;
}
#page-tag .panel-tags {
  min-height: 250px;
}
#page-tag .panel-tags .label-next-photo {
  float: right;
  cursor: pointer;
}
#page-tag .panel-tags #submit-loading {
  position: relative;
  width: 25px;
  height: 20px;
}
#page-tag .panel-tags #submit-loading div {
  width: 4px;
}
#mytaginput {
  margin-bottom: 20px;
}
#mytaginput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
#mytaginput .bootstrap-tagsinput {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  line-height: 36px;
  border-radius: 0;
  padding-left: 0;
}
#mytaginput .bootstrap-tagsinput .tag {
  margin-right: 10px;
  color: #666;
}
#mytaginput .bootstrap-tagsinput .label-info {
  background-color: #fafafa;
  border: 1px solid #ccc;
}
#mytaginput .bootstrap-tagsinput .label {
  padding: .4em 1.0em 0.4em;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  #page-tag .panel-tags {
    min-height: auto;
  }
  #submit-tags.btn-tags {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.middle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.spinner {
  width: 50px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner > div {
  background-color: #fafafa;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
