{% extends "_include/base.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Tag it{% endblock %}
{% block page_css %}
	<link rel="stylesheet" href="/pages/site/tag/tag.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap-tagsinput.css">
{% endblock %}
{% block page_js %}
    <script type="text/javascript">
      // alert('{{ photolist }}');
      console.log('{{ coming_photos|safe }}');
      var comingPhotos = jQuery.parseJSON('{{ coming_photos|safe }}');
      var current_photo = comingPhotos.shift();
      
    </script>
    <script src="/pages/site/tag/tag.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap-tagsinput.js"></script>
{% endblock %}

{% block page_content %}
    <div class="container main-content">
    	<div class="row" id="page-tag">
            <div class="col-md-6">
                <div class="position-relative">
                    <img class="photo-to-tag" src="{{ current_photo.get('url') }}?imageView2/2/w/700/interlace/1"/>
                    <div class="overlay hide">
                        <div class="spinner">
                          <div class="rect1"></div>
                          <div class="rect2"></div>
                          <div class="rect3"></div>
                          <div class="rect4"></div>
                          <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
    		<div class="col-md-6">
            <div class="panel panel-default panel-tags">
                <div class="panel-heading">
                    我来打标签<a id="next-photo" class="label-next-photo">换一张</a>
                </div>
                <div class="panel-body">
                    <input id="photoid" type="hidden" name="photoid" value="{{ current_photo.id }}">
                    <div id="mytaginput">
                        <input id="tags" name="tags" class="tagsinput-gen" type="text" value="" data-role="tagsinput">
                        <ul class="list-form-errors text-danger list-unstyled">
                            <li>{{ form.tags.errors[0] }}</li>
                        </ul>
                    </div>
                    <div id="submit-tags" class="btn btn-primary btn-padding btn-tags">
                      <span id="submit-label">提交</span>
                      <div id="submit-loading" class="spinner hide">
                          <div class="rect1"></div>
                          <div class="rect2"></div>
                          <div class="rect3"></div>
                          <div class="rect4"></div>
                          <div class="rect5"></div>
                      </div>
                    </div>
                </div>
            </div>
            <p class="text-center">您已累计贡献 <span id="label-contributes-count">{{ utagcount }}</span> 个标签，非常感谢(〃^∇^)o</p>
    		</div>
            
    	</div>
    </div>
{% endblock %}
