{% extends "_include/base.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Tag it{% endblock %}
{% block page_css %}
	<link rel="stylesheet" href="/pages/site/tag/tag.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap-tagsinput.css">
{% endblock %}
{% block page_js %}
    <script src="/pages/site/tag/tag.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap-tagsinput.js"></script>
{% endblock %}

{% block page_content %}
    <div class="container main-content">
    	<div class="row" id="page-tag">
            <div class="col-md-6">
                <div class="position-relative">
                    <img class="photo-to-tag" src="{{ photo.get('url') }}?imageView2/2/w/700/interlace/1"/>
                    <div class="overlay hide">
                        <div class="spinner">
                          <div class="rect1"></div>
                          <div class="rect2"></div>
                          <div class="rect3"></div>
                          <div class="rect4"></div>
                          <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
    		<div class="col-md-6">
                <div class="panel panel-default panel-tags">
                    <div class="panel-heading">
                        我来打标签<a id="next-photo" class="label-next-photo">换一张</a>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{{ url_for('site.tag') }}" class="tagform">
                            {{ form.csrf_token() }}
                            <input id="photoid" type="hidden" name="photoid" value="{{ photo.id }}">
                            <div class="form-group clearfix">
                                <div id="mytaginput">
                                    <input id="tags" name="tags" class="tagsinput-gen" type="text" value="" data-role="tagsinput">
                                    <ul class="list-form-errors text-danger list-unstyled">
                                        <li>{{ form.tags.errors[0] }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-padding btn-tags">提交</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
    		</div>
            
    	</div>
    </div>
{% endblock %}
