{% extends "_include/base.html" %}

{% from '_form.html' import vertical_field, form_submit %}

{% block page_title %}Sign up{% endblock %}
{% block page_js %}
    <script src="/pages/account/signup/signup.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/account/signup/signup.css"/>{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="">
            <div class="col-sm-4 col-md-offset-4" id="user-sign">
                <form method="post" autocomplete="off">
                    {{ form.csrf_token() }}
                    {{ vertical_field(form.name) }}
                    {{ vertical_field(form.email) }}
                    {{ vertical_field(form.password) }}
                    {{ vertical_field(form.repassword) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">注册</button>
                    </div>
                    <div class="form-group">
                        <hr class="divider">
                        <p>已有帐号？<a href="{{ url_for('account.signin', next=request.args.get('next')) }}">点击登录»</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

