*.pyc
.idea/
venv/
bower_components/
node_modules/
output/
uploads/*
package.json
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/default.png
node_modules/
application/pages/**/*.css
application/static/css/**/*.css
!application/static/css/libs/*.css
application/static/output/
.avoscloud/
cloud.py
tests/
gulpfile.js
npm-debug.log
*.less

