*.pyc
.idea/
venv/
bower_components/
node_modules/
output/
uploads/*
package.json
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/default.png
node_modules/
application/static/output/
.avoscloud/
cloud.py
tests/
gulpfile.js
npm-debug.log
*.less
*.DS_Store
.avoscloud/
