{% extends "_include/base.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Tag it{% endblock %}
{% block page_css %}
	<link rel="stylesheet" href="/pages/site/manage/manage.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap-tagsinput.css">
{% endblock %}
{% block page_js %}
    <script type="text/javascript">
      // alert('{{ photolist }}');
      console.log('{{ coming_photos|safe }}');
      var comingPhotos = jQuery.parseJSON('{{ coming_photos|safe }}');
      var current_photo = comingPhotos.shift();
    </script>
    <script src="/pages/site/manage/catit.js"></script>
{% endblock %}

{% block page_content %}
    <div class="container main-content">
    	<div class="row" id="page-tag">
            <div class="col-md-6">
                <div class="position-relative">
                    <img class="photo-to-tag" src="{{ current_photo.get('url') }}?imageView2/2/w/700/interlace/1"/>
                    <div class="overlay hide">
                        <div class="spinner">
                          <div class="rect1"></div>
                          <div class="rect2"></div>
                          <div class="rect3"></div>
                          <div class="rect4"></div>
                          <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
    		<div class="col-md-6">
            <div class="panel panel-default panel-tags panel-cats">
                <div class="panel-heading">
                    分类
                </div>
                <div class="panel-body">
                  <input id="photoid" type="hidden" name="photoid" value="{{ current_photo.id }}">
                  <div id="cats-list" class="row">
                      {% for cat in categories %}
                          <label class="col-xs-4" style="margin-bottom: 10px">
                              <input type="checkbox" id="{{ cat.id }}" value="{{ cat.id }}" role="category"> {{ cat.get('name') }}
                          </label>
                      {% endfor %}
                  </div>
                  <button style="margin-top: 20px; margin-bottom: 10px;" id="submit-cats" class="btn btn-primary btn-padding">提交</button>
                </div>
            </div>
            <p class="text-center"><span id="label-categorized-count">{{ alreadyCategorizedCount }}</span> 张图片已完成分类</p>
    		</div>
    	</div>
    </div>
{% endblock %}
