html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
}
.flash-message {
  background-color: #3fa7cb;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
@media only screen and (max-width: 1499px) and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.page-site-index #nav-index a,
.page-site-about #nav-about a,
.page-account-signin #nav-signin a,
.page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-brand img {
  height: 20px;
}
.navbar-nav #nav-avatar {
  padding: 10px 15px;
}
.navbar-nav #nav-avatar .avatar {
  border-radius: 40px;
  width: 30px;
  height: 30px;
}
.navbar .navbar-form {
  margin-top: 10px;
  width: 50%;
  max-width: 500px;
}
.navbar .navbar-form .form-group {
  width: 100%;
}
.navbar .navbar-form input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  -webkit-appearance: none;
}
.navbar .navbar-form input:focus {
  border-color: #2F9BFE;
}
.navbar .navbar-form .embed-btn {
  position: absolute;
  right: 0;
  bottom: 1px;
  background-color: transparent;
  border: none;
  color: #aaa;
}
.position-relative {
  position: relative;
}
#footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
  color: #777;
}
#footer li a {
  color: #777;
}
#user-sign {
  margin-top: 50px;
}
#user-sign h2 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: normal;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  color: #666;
}
#user-sign form .form-group {
  margin-bottom: 5px;
}
#user-sign button {
  padding-left: 30px;
  padding-right: 30px;
}
.form-group label {
  font-weight: normal;
}
.main-content {
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .navbar .navbar-form {
    width: auto;
  }
  .main-content {
    padding-top: 0;
  }
}
