html {
  position: relative;
  min-height: 100%;
}
.flash-message {
  background-color: #3fa7cb;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
@media only screen and (max-width: 1499px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.page-site-index #nav-index a,
.page-site-about #nav-about a,
.page-account-signin #nav-signin a,
.page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
nav .nav-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
nav .nav-wrapper .logo {
  background: url(/static/image/logo-search.png) no-repeat 0 center;
  width: 94px;
  height: 36px;
  display: inline-block;
  margin-top: 10px;
  float: left;
}
nav img.avatar {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
nav #nav-search {
  margin-left: 10px;
}
nav .search-box {
  display: block;
  float: left;
  height: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
}
nav .search-box .search-input-container {
  position: relative;
}
nav .search-box .search-input-container input#search {
  display: block;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 40px 0 15px;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
nav .search-box .search-input-container input#search::-webkit-input-placeholder {
  color: white;
}
nav .search-box .search-input-container input#search:-moz-placeholder {
  color: white;
}
nav .search-box .search-input-container input#search::-moz-placeholder {
  color: white;
}
nav .search-box .search-input-container input#search:-ms-input-placeholder {
  color: white;
}
nav .search-box .search-input-container i.material-icons {
  position: absolute;
  top: 6px;
  font-size: 24px;
  right: 12px;
  height: 24px;
  line-height: 24px;
}
.navbar-form {
  margin: 10px 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
input#search:focus {
  outline: none;
}
footer.page-footer {
  background-color: #f5f5f5;
}
footer.page-footer .footer-desc {
  text-align: center;
  margin-bottom: 40px;
}
footer.page-footer .footer-desc h3 {
  font-size: 2rem;
}
footer.page-footer .footer-copyright {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(51, 51, 51, 0.04);
}
footer.page-footer .footer-copyright a {
  color: inherit;
}
