.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}
.fig {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}
nav {
  z-index: 1;
  position: relative;
  background: transparent;
  border: 0;
  box-shadow: none;
}
nav .avatar_wrapper {
  margin-right: 32px;
}
.nav-index {
  background: transparent;
  border: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #f0f0f0;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
#sbox {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 48px;
  max-width: 720px;
}
@media screen and (min-width: 872px) {
  #sbox {
    width: 720px;
  }
}
#sbox input#search-box {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 45px 0px 15px;
  border: 0;
  border-radius: 2px;
}
#sbox .search-wrapper {
  margin: 0 12px;
  -webkit-transition: margin .25s ease;
  -moz-transition: margin .25s ease;
  -o-transition: margin .25s ease;
  -ms-transition: margin .25s ease;
  transition: margin .25s ease;
}
#sbox .search-input-container {
  position: relative;
}
#sbox .search-input-container .icon-search {
  position: absolute;
  right: 24px;
  top: 0;
  line-height: 45px;
  color: #4F5F6E;
}
.search-logo {
  margin: 0 auto;
  width: 295px;
  height: 200px;
  display: block;
  background: url(/static/image/logo_bg.png) no-repeat;
}
.search-logo .logo-phos {
  top: 90px;
  position: relative;
  margin-right: 20px;
}
.search-logo .logo-phos .icon-phos {
  color: #2C9ADE;
  font-size: 32px;
  margin-right: 5px;
}
.search-logo .logo-phos .icon-copyright-cc {
  color: #9DACBA;
  font-size: 36px;
}
.search-logo .logo-phos p {
  margin: 0;
  color: #4F5F6E;
  font-size: 13px;
  letter-spacing: 1px;
}
.ui-autocomplete {
  color: red !important;
}
.ui-widget-content .ui-state-focus {
  color: red;
}
@media screen and (min-width: 872px) {
  #sbox {
    width: 720px;
  }
}
