{% extends "_include/index.html" %}

{% block page_title %}Yuntu{% endblock %}
{% block page_js %}
	<script src="/pages/site/index/index.js"></script>
{% endblock %}
{% block page_css %}
	<link rel="stylesheet" href="/pages/site/index/index.css"/>
{% endblock %}

{% block page_content %}
	
	<div>
	{% include "_include/index-nav.html" %}
	</div>

	<figure class="fig cover" style="background-image: url({{ cover.get('url') }}?imageView2/2/w/1920/interlace/1)"></figure>
	<div class="mask"></div>
	<!-- <nav>
		<div class="nav-wrapper">
			<div class="right avatar-actions">
				<img class="avatar circle" src="http://materializecss.com/images/yuna.jpg"/>
			</div>
	    </div>
	</nav> -->
	<div class="container">
		<div id="sbox" class="search-box">
			<div class="search-logo">
				<div class="logo-phos">
					<i class="iconfont icon-phos"></i>
					<i class="iconfont icon-copyright-cc"></i>
					<p>愿我们分享的 是爱与世界</p>
				</div>
			</div>
			<div>
				<form class="search_ix " action="/search" method="get">
					<div class="search-input-container">
						<input id="search-box" name="q" value="" autocomplete="off" placeholder="搜索图片" data-autofocus="">
						<i class="iconfont icon-search"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
