<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/android-desktop.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">
<link rel="Shortcut Icon" href="/static/image/favicon.png">

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<!--
<link rel="canonical" href="http://www.example.com/">
-->

{# CSS libs #}
<link href="/static/css/libs/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/libs/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//at.alicdn.com/t/font_1447750130_2951348.css" rel="stylesheet">
{# CSS customize #}
<link rel="stylesheet" href="/static/css/bootstrap.theme.css"/>
<link rel="stylesheet" href="/static/css/common.css"/>
<link rel="stylesheet" href="/static/output/macros.css"/>
<link rel="stylesheet" href="/static/css/layout.css"/>
{# JS global vars #}
<script type="text/javascript">
    var g = {
        domain: "{{ config.SITE_DOMAIN }}",
        csrfToken: "{{ csrf_token() }}",
        rules: {{ rules|safe }},
        method: "{{ request.method }}",
        signin: {% if g.user %}true{% else %}false{% endif %},
        userId: {% if g.user %}{{ g.user }}{% else %}false{% endif %}
    };
</script>
{# JS libs #}
<script src="/static/js/libs/respond.min.js"></script>
<script src="/static/js/libs/jquery.min.js"></script>
<script src="/static/js/init.js"></script>
