{% extends "_include/base.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Sign in{% endblock %}
{% block page_js %}
    <script src="/pages/account/signin/signin.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/account/signin/signin.css"/>{% endblock %}
{% block page_content %}
    <div style="background-image: url(http://7xl0mr.com1.z0.glb.clouddn.com/photo/4LrqrPbgO.jpg?imageView2/2/w/500/interlace/1)" class="nav-bar">
        <div class="nav-mask"></div>
        <div class="nav-mask"></div>
        <div class="nav-main">
            <nav>
                <div class="nav-wrapper">
                    <!-- <a href="/" class="logo"></a> -->
                    <div class="nav-menu left">
                        <i class="iconfont icon-navmenu"></i>
                    </div>
                    <div class="nav-logo left">
                        <img src="/static/image/logo.png"/>
                    </div>
                    <div class="nav-search left">
                        <form class="search_ix" action="/search" method="get">
                            <div class="search-input-container">
                                <input id="search" name="keyword" value="{{ keyword }}" placeholder="搜索图片" data-autofocus="">
                                <div class="search-btn">
                                    <i class="iconfont icon-search"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="right avatar-actions">
                        <img class="avatar circle" src="http://materializecss.com/images/yuna.jpg"/>
                    </div>
                </div>
            </nav>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Sign in</h1>

                <form method="post" action="{{ url_for('account.signin') }}">
                    {{ form.csrf_token() }}

                    {{ vertical_field(form.email) }}

                    {{ vertical_field(form.password) }}
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
