{% extends "_include/base.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Sign in{% endblock %}
{% block page_js %}
    <script src="/pages/account/signin/signin.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/account/signin/signin.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="">
            <div class="col-sm-4 col-md-offset-4" id="user-sign">
                <form class="form-horizontal" method="post">
                    {{ form.csrf_token() }}
                    {{ vertical_field(form.email) }}
                    {{ vertical_field(form.password) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                    <div class="form-group">
                        <hr class="divider">
                        <p>还没有帐号？<a href="{{ url_for('account.signup') }}">点击注册»</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
